.container{
	width: 1800px;
	background: #B5C5D7;
	margin: auto;
	height: 100%;
}
.container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100%;
		}
.container a {
	color: white;
	text-decoration: none;
}

header {
		display: flex;
		flex-direction: row;
		align-items: center;
		max-width: 1200px;
		background: #7FFFD4;
		justify-content: center;
		width: 100%;
		border-radius: 20px;
		}
/*MENU*/
.menu li{
	display: inline-block;
}
.top{
	margin-top: 30px
}
.menu {
	float: right;
} 
.menu a:hover{
	background: #77dd77
}
.menu a{
	padding: 20px
}
.menu_top {
	display: flex;
  	justify-content: space-between;
  	align-items: center;
  	float: left;
  	width: 100%;
  	text-decoration: none;
  	text-decoration-line: none;	
  	display : inline-block;
}
.Izquierda {
	display: flex;
  align-items: center;
}
.TituloHeader {
		float: right;
		width: 70%;
}
/*BODY*/
.body {
	margin: 0px
}
/*COL*/
.col{
	flex-basis: 30px;
	margin: 0 10px;
	width: 265px;
	display: inline-block;
	vertical-align: top;
	text-align: justify;
	padding: 20px
}
.col h2 {
	color: blue
}
/*ROW*/
.row{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: stretch;
	margin: 20px 0;
	text-align: center;

    margin-left: 250px;
    margin-right: 250px;
}
/*FOOTER*/
footer{
	background-color: #7FFFD4;
}
footer{
	overflow: hidden;
	color: white;
	font-size: 15px;
	text-shadow: 1px 1px #333,1px -1px 0 #333, -1px 1px 0 #333, -1px -1px 0 #333;
}
footer a{
	color: black
	text-decoration: none;
}
footer span{
	float: left;
	margin-top: 10px;
	margin-left: 30px;
}
footer a:hover{
	background: #C6E1F1
}
footer a{
	padding: 20px
}
/*Aside(s)*/
.aside {
		background: #ECDFDB;
	position: relative;
	float: right;
	margin-left: 40px;
	padding: 10px;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	top: 150px;
		
		

		
			width: 250px;		 
}
.aside2 {
	background: #ECDFDB;
	position: relative;
	float: right;
	padding: 5px;
	border-radius: 10px;
	border-top-left-radius: 40px;
	top: 1px;
		
		

		
			width: 180px;		
}
.aside3 {
	background: #ECDFDB;
	position: relative;
	float: left;
	padding: 5px;
	border-radius: 10px;	
		border-top-right-radius: 40px;
	top: 1px;
		
		

		
			width: 180px;		
}
.aside4 {
			background: #ECDFDB;
	position: relative;
	float: left;
	margin-right: 40px;
	padding: 10px;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	top: 150px;
		
		

		
			width: 250px;	
}
.container_text {
	text-align: justify;
	float: left;
	margin-right: 5px;
	margin-left: 5px;
}
.TituloPartBio {
	background-color: #7FFFD4;
	font-family: Verdana;
	color: white;
	text-shadow: 1px 1px #333,1px -1px 0 #333, -1px 1px 0 #333, -1px -1px 0 #333;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.Texto {
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: 15px;
	margin-right: 10px;
}
.ImagenBio {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}

.ImagenBioDere {
	float: right;
	margin-left: 5px;
	margin-bottom: 5px;
}
.InicioText {
	margin-left: auto;
}
.body {
	background-color:#FFFFFF;"
}
/*TABLA */
table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 50px;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

a. {
	text-decoration: none;
}

.Vid {
	float: left;

}

/* Cuestionario */
.Pregunta1 {
border: 1px solid #7DA5E0;
padding: 10px;
padding-right: 200px;
margin: 10px;
margin-left: 211px;
margin-right: 676px;

font-family: Arial, Verdana, Helvetica, sans-serif;
font-size: 15px;
font-weight: bold;
}

.Pregunta2 {
border: 1px solid #7DA5E0;
padding: 10px;
margin: 10px;
font-family: Arial, Verdana, Helvetica, sans-serif;
font-size: 15px;
font-weight: bold;
}

.pregunta {
color: #7DA5E0;
}

.respuestas {
color: #000000;
}